$bg-color: #007bff;
$nav-color: #f8f9fa;
$body-color: #ffffff;
$circle-shadow-color: #bbc2c9;
$text-color: #7d8689;
$headers-color: #212529;
$headers-color-white: white;
$width-page: 1000px;
$width-page-mobile: 500px;
